certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.0
idna==3.18
numpy==2.5.2
pandas==3.0.5
pycparser==3.0
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
srt==3.5.3
tqdm==4.70.0
urllib3==2.7.0
vosk==0.3.45
websockets==17.0.1
